[Unit]
After=network.target bililive-systemd-webhook.socket
Requires=bililive-systemd-webhook.socket

[Service]
Type=oneshot
WorkingDirectory=~
ExecStart=/bin/sh .local/bin/bililive-systemd-webhook.sh
KillMode=process
